* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-areas: "start river end";
  /* padding-bottom: 10vh; */
  background-color: sandybrown;
  background-image: url("img/river_forest3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
img {
  box-shadow: 0px 4px 0px rgb(253, 165, 2);
}
.wrapper .start {
  /* height: 100vh; */
  border-right: 1px dashed brown;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-image: url('img/river_left.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.start img {
  width: 9vw;
  height: 9vw;
  margin-bottom: 10vh;
}
.wrapper .end {
  /* height: 100vh; */
  border-right: 1px dashed brown;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: start;
  display: flex;
  align-items: end;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-left: 1px dashed brown;
  grid-area: end;

  /* background-image: url('img/river_right.jpg'); */
}
.end img {
  width: 10vw;
  height: 10vw;
  margin-bottom: 10vh;
}

button:active {
  background-color: rgb(135, 201, 37);
  box-shadow: 1px 1px 1px black;
}
.wrapper .river {
  grid-area: river;
  height: 100vh;
  align-content: end;
  justify-content: end;
  /* background-image: url('img/river_forest3.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper .river img {
  width: 30%;
  position: relative;
  top: 70vh;
  left: 0;
  animation-iteration-count: infinite;
  /* background-image: url('img/Goat.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 100%;
}

@keyframes moveforward {
  from {
    left: 0vw;
  }
  to {
    left: 50vw;
  }
}
button {
  font-size: 1.2rem;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 3px gold;
  background-color: greenyellow;
  border: none;
  position: relative;

  line-height: 0px;
  padding: 0px 15px;
}
.scoreboard {
  width: max-content;
  height: max-content;
  position: absolute;
  background-color: gainsboro;
  border-radius: 10px;
  justify-self: center;
  display: flex;
  gap: 20px;
  padding: 10px;
}
.scoreboard figure {
  background-color: white;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 5px;
  width: min-content;
  height: max-content;
  box-shadow: 1px 0px 1px 1px gray;
}
.scoreboard div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.scoreboard p {
  font-size: 1rem;
  align-self: center;
  justify-self: center;
}
.scoreboard button {
  box-shadow: none;
  font-size: 1rem;
  background-color: antiquewhite;
}
div.cover {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.274);
  /* opacity: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: none;
}
div.message {
  opacity: 200%;
  width: 50%;
  min-height: 50%;
  background-color: whitesmoke;
  border-radius: 30px;
  box-shadow: 4px 0px 4px 4px grey;
  display: flex;
  gap: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  text-justify: center;
}
div.scoreboard div{
    display: grid;
}

div.scoreboard button {
  box-shadow: none;
  align-self: center;
  justify-self: center;
}
h1.message {
  font-size: 2rem;
}
p.details {
  font-size: 1.5 rem;
}
@media (orientation: portrait) {
  .wrapper .start {
    /* height: 100vh; */
    border-right: 1px dashed brown;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    grid-area: start;
    display: flex;
    align-items: end;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-image: linear-gradient(180deg, rgb(0, 128, 68), green);
  }

  .wrapper .end {
    /* height: 100vh; */
    border-right: 1px dashed brown;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    grid-area: start;
    display: flex;
    align-items: end;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-left: 1px dashed brown;
    grid-area: end;
    background-image: linear-gradient(180deg, rgb(0, 128, 68), green);
  }
  .river {
    background-image: linear-gradient(180deg, aqua, aquamarine);
  }
  .start img {
    width: 20vh;
    height: 20vh;
    margin-bottom: 10vh;
  }
  .end img {
    width: 20vh;
    height: 20vh;
    margin-bottom: 10vh;
  }
  button.end {
    position: absolute;
    padding-top: 10px;
    top: 90vh;
    left: 80vw;
  }
  button.start {
    position: absolute;
    padding-top: 10px;
    top: 90vh;
    left: 3vw;
  }
  .scoreboard {
    display: none;
  }
}
